html,body{
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
    font-family: Roboto;
}

body{
  height: 100vh;
  margin-bottom: 10px;
  background: url("../img/splashscreen.jpg") no-repeat center center;
  background-size: cover;
  display: fixed;
  flex-direction: column;
  color: white;
}

header{
  margin-bottom: 100px;
}

h1{
  font-weight: 700;
  font-size: 3rem;
}

h3{
  font-size: 1.2rem;
  font-weight: lighter;
}

h4{
  letter-spacing: 2px;
  text-align: center;
  padding-right: 50px;
}


.right{
  float: right;
}

.left{
  float: left;
}

.logo{
  width: 100px;
  height: 100px;
  padding-left: 20px;
}

.top-menu{
  text-align: center;
  text-decoration: none;
  padding-top: 20px;
}

.top-menu a {
  text-decoration: none;
  color: white;
  padding: 20px;
  padding-bottom: 0px !important;
  font-size: 1.5em;
}

.top-menu a:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2)
  transition: all 200ms ease-out;
}




.container {
  display: inline-block;
  cursor: pointer;
  float: right;
  padding-right: 20px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  border-radius: 4px;
  transition: 0.4s;
}


.content-container{
  /* border: 1px red solid; */
  margin-top: 10%;
}

.content{
  width: 400px;
  height:200px;
  /* border: 1px green solid; */
  padding-left: 10%;
}

.signup{
  width: 400px;
  height:200px;
  /* border: 1px yellow solid; */
  padding-right: 10%;
}

.signup-terms{
  font-size: .8rem;
  text-decoration: none;
  color: white;
  padding-left: 60px;
}

form {
  position: relative;
  width: 250px;
  padding: 20px 22px;
}



input[type="text"]
{
    background: transparent;
    color: white;
    width: 300px;
    padding: 12px 20px;
    border: 1px solid grey;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */

button{
  background: transparent;
  color: white;
  display: block;
  padding: 12px 60px;
  width: 300px;
  background-color: #2B9DC1;
  border: none;
  border-radius: 4px;
}

footer {
   position: absolute;
   left: 0;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   /* display:inline-block; */
}

.copyright{
  position: absolute;
  float:left;
  padding-left: 20px;
}

.bottom-menu{
  padding-right: 20px;
}

.bottom-menu a{
  text-decoration: none;
  color: white;
  float: right;
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  .top-menu {
    display: none;
  }

  .content-container{
    /* border: 1px red solid; */
    margin-top: 10%;
    display: inline-block;
    width: 100%;
  }

  .content{
    float: none !important;
    padding-right: 10px;
    margin: auto;
    margin-bottom: 170px;
    width: 300px;
    display: inline-block !important;
  }

  h3{
    font-size: 1.2rem;
    font-weight: lighter;
    word-wrap: break-word;
  }

  .signup{
    width: 300px;
    height:200px;
    /* border: 1px yellow solid; */
    display: inline-block !important;
    margin-bottom: 30px;
  }

  .signup.right{
    float: none !important;
  }

  form{
    padding-left: 10%;
  }

  .signup-terms{
  }

  .signup-terms a{
  }

  .copyright{
    font-size: .5rem;
    left: 0;
    width: 100%;
    position: relative;
  }

  .bottom-menu{
    /* padding-right: 20px; */
    font-size: .4rem;
    right: 0;
    height: 30px;
    width: 100%;
  }

  .bottom-menu a{
    text-decoration: none;
    color: white;
    float: right;
    padding: 15px;
  }

  footer {
     /* width: 100%; */
     bottom:0;
     margin-top: 10px;
     height: 60px;
     position: relative !important;
     /* display: flex !important; */
  }

  .container {
    padding-top: 20px;
  }
}
